<mat-toolbar>
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>

  <span class="spacer"></span>
  <span>{{ standup?.name }}</span>
  <span class="spacer"></span>

  <button mat-icon-button>
    <mat-icon class="material-icons-outlined">insert_comment</mat-icon>
  </button>
</mat-toolbar>

<div *ngIf="standup?.current?.standupEndTime" class="app-main__complete-message-wrapper">
  <h3 style="text-align: center;">Standup completed</h3>
  <button mat-button>Restart</button>
</div>

<div class="app-main__complete-message-wrapper">
  <p *ngIf="standup?.current?.standupEndTime; else currentStandupTimeTemplate">{{standup!.current!.standupEndTime - standup!.current!.standupStartTime | date:'mm:ss'}}</p>
  <ng-template #currentStandupTimeTemplate>{{ meetingTimer$ | async }}</ng-template>
  
  <button mat-icon-button (click)="onSetNextSpeaker()">
    <mat-icon>play_arrow</mat-icon>
  </button>
</div>

<div  class="app-main__tiles-wrapper">
  <div class="app-main__tiles-center-wrapper">
    <ng-container *ngIf="standup?.current?.standupStartTime; else startButtonTemplate">
      <app-user-tile *ngFor="let member of allMembers" [name]="member.name" class="app-main__tiles-margin" [active]="member.id === standup?.current?.speaker?.id && !standup?.current?.standupEndTime" [duration]="getMemberTime(member)"></app-user-tile>
    </ng-container>
    <ng-template #startButtonTemplate>
      <button mat-button (click)="onStartMeeting()">Start the meeting</button>
    </ng-template>
  </div>
</div>
<button mat-raised-button (click)="onClear()">Clear</button>
{{standup | json}}
